/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}


.autocomplete-items {
    position: absolute;
    border-top: none;
    z-index: 99;
    top: 97%;
    left: 0px;
    right: 0;
    text-align: left;
    width: 100%;
    display: none;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.band_autocomplete{
    position: absolute;
    z-index: 200;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    padding: 5px;
    width: 298px;
}

.band_autocomplete div.item{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}