/* stylelint-disable selector-list-comma-newline-after */
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  color: #6c757d!important;
  
}

.space-domrey{
  padding-bottom: 70px;
}

.seller-background{
  height: 120px;
  background-color: #f3bd86;
  /* background-image: url('/images/web_cover.png'); */
  /* opacity: 60%; */
}
.seller-background i{
  position: relative;
  float: right;
  right: 4px;
  top: 4px;
  font-size: 35px;
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 4px;

}

.seller-background div{
    position: relative;
    color: white;
}

.sm-menu-a{
  padding: 10px 18px!important;
}

.footer-fix {
    width:100%;
    height: 65px;
    position:fixed;
    bottom:0; /* should be on bottom of #content */
    background-color:white;
    font-size: 17px;
    z-index: 100;
    display: none;
}
.footer-fix .item{
  padding: 5px;
}
.footer-fix div div a{
  display: block;
}
.footer-fix div div a span.active{
  font-weight: bold;
}

.footer-fix div div a i.active{
  font-weight: bold;
}

/* .scroll {
   height: 550px;
   overflow-x: hidden;
   overflow-y: visible;
   direction: rtl;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px black; 
}

.scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px  black; 

} */

.header-lang{
    top: 15px;

}
header .khmer-flage, .header-lang .khmer-flage{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/cambodia-40px.png) no-repeat center;
    background-size: contain;
    vertical-align: sub;
    position: relative; 
    cursor: pointer;
}
header .english-flage,.header-lang .english-flage  {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/united-kingdom-40px.png) no-repeat center;
    background-size: contain;
    vertical-align: sub;
    position: relative;
    cursor: pointer;
}


.page-item.active .page-link{
  color: #fff!important;
}

.profile{
  position: relative;
  top: -70px;
}

.image-profile{
  width: 153px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: white;
}

.product-items li{
  cursor: pointer;
  margin-bottom: 4px;
}
.product-items li img{
  border: 1px solid #ccc;
}
.product-items li img.actived{
  opacity: 100%;
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.product-items li img.deactived{
  opacity: 25%;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

.description{
  height: 45px;
  font-size: 14px;
}

.list-group .list-group-item a i{
  position: relative;
  top: 6px;
  color: #f3be89;
}

.copy-link{
  cursor: pointer;
}
.image-cursor{
  cursor: pointer;
}

.breadcrumb li a{
  text-decoration: blink!important;;
}

a{
  text-decoration: none!important;
  color: #6c757d!important;
}
.domrey-color{
  color: #f3bd86;
}

.btn-domrey{
  background-color: #f3bd86;
      color: black!important;
    font-weight: 600;
}
.domrey-back{
  background-color: #f3bd86!important;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  line-height: 32px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: 9px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
     padding-left: 1%;
    padding-right: 13%;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem dashed grey;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* Style to create scroll bar in dropdown */ 
.scrollable-dropdown{
    height: auto;
    overflow-x: hidden;
}
.search-box{
    border: 1px solid #f3bd86;
    border-radius: 4px;
    height: 41px;
    padding-left: 10px;
}


.text-box-search:focus{
    outline: none!important;
    border: none;
    background: #f0f1f1;
    box-shadow: 0 0 0 0.2rem transparent!important;
}

.text-box-search{
    background: #f0f1f1;
}

.search-box{
  background: #f0f1f1;
}

.search-box input{
  border: none;
}

/* .banner{
	padding-top: 15px;
} */

nav.megamenu ul li:hover{
	text-decoration: none;
	border-bottom: 1px solid #f3bd86;
}
nav.top div ul li.dropdown{
  padding-left: 14px;
}

nav.top div ul li.dropdown div.dropdown-menu {
  width: 543px;
  padding: 10px;
  position: absolute;
  left: -17px;

}
.nav_panel{
    background-color: white;
    position: absolute;
    z-index: 100;
    top: 121px;
    width: 1260px;
    height: 200px;
    display: none;
}


.product-content{
	box-shadow: 0 3px 10px 0 rgba(44,44,45,.07), inset 0 0 0 1px rgba(44,44,45,.07);
	background-color: #fff;
  /* border-radius: 8px; */
	width: 100%;
  padding: 5px;
  margin-top: 15px;
}

.box-sadow .products{
  display: block;
  /* margin-top: 10px; */
  width: 100%;
  border: 1px solid #f0f1f1;
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.box-sadow .products .imag-product{
  margin-top: 5px;
  margin-bottom: 5px;
}

.box-sadow .products .img-fluid{
  border-radius: 4px;
  width: 100%;
  height: 180px;
	/* width: 180px;
  height: 180px; */
}

.btn-domrey-chat{
  border: 1px solid #ccc;
  font-size: 16px!important;
  text-transform: capitalize!important;
  font-weight: 600;
}

.btn-domrey-offer{
  background-color: #ff2636!important;
   font-size: 16px!important;
  text-transform: capitalize!important;
  font-weight: 600;
  
}

.shipping{
  font-weight: 400;
  padding-top: 20px;
}

.product-detail {
    box-shadow: 0 3px 10px 0 rgba(44,44,45,.07), inset 0 0 0 1px rgba(44,44,45,.07);
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
}

@media (max-width: 575.98px) {
  .box-sadow .products .img-fluid{
    border-radius: 4px;
    height: 160px!important;
  }

  .product-content {
    width: 100%;
    padding: 0px!important; 
}

  .container {
      padding: 5px!important;
  }

  .report-listing{
    position: absolute;
    top: 0px;
    left: -27px!important;
  }
  .col-profile{
    top: -30px!important;
  }
  .col-about{
    margin-top: -17px!important;
  }

  .btn-chat-small{
    margin-left: 0px!important;
  }

  .domrey-sm{
    padding-left: 18px;
    padding-right: 18px;
  }

  .domrey-block{
    display: none;
  }

  .footer-fix{
    display: block!important;
  }

}

.box-sadow .products:hover{
  box-shadow: 0 4px 12px 0 rgba(44,44,45,.07), 0 0 20px 0 rgba(44,44,45,.07);
  cursor: pointer;
}
.avatar{
	float: left;
  padding-bottom: 10px;
  width: 100%;
}
.avatar .circle{
  width: 32px;
  border-radius: 50%;
}
.dropdown-menu li{
	padding: 10px;
}

.dropdown-menu .categories{
	padding: 8px;
}

nav li a i{
	color: #f3bd86;
}
nav li a span{
	position: relative;
  top: -5px;
  font-size: 14px;
}
.user-avatar{
	
	font-size: 12px;

}

.user-avatar .name{
	font-weight:bold;
}
.text-desc{
  /* margin-top: 10px; */
}
.description-single-page{
  white-space: pre-wrap; 
  text-align: left;
  line-height: 30px;
}
.text-desc .price{
  color: #cc1e2b;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;

}
.text-desc .title{
  margin-top: 8px;
  font-weight: 500;
  height: 50px;
  flex-wrap: wrap!important;
}
.text-desc .used{
  color:#f3bd86;
}
.text-desc .like{
  margin-top: 10px;
}
.text-desc .like img{
  width: 20px;
}

.category-carousel{
  height: 118px;
}
.category-carousel .image-category{
  width: 100px;
  float: left;
  padding: 5px;
  font-size: 12px;
}

.category-carousel .image-category img{
  width: 100%;
  border-radius: 50%;
  border: 1px solid #f3be89;
  cursor: pointer;
}
.category-carousel .image-category img:hover{
 padding: 5px;
}

.sidebar-title{
  padding-bottom: 5px;
  margin-top: 20px;
}

.product-items{
    list-style: none;
    margin: 0 auto;
    padding-inline-start: 0px;
}
/* ul.product-items li{
  padding-top: 4px;
} */
.small-screen-img-profile{
    height: 60px;
    width: 60px;
    top: 4px;
    left: 15px;
    position: relative;
    margin-bottom: 32px;
}
.payment-icons{
  padding-top: 0px;
}
.payment-icons .payment-icons-title{
  margin-bottom: 10px;
}

.payment-icons img{
  vertical-align: inherit;
}

.small-screen-img-item{

  /* height: 95px; */
  position: relative;
  top: -90px;

}

.single-product{
    border-bottom: 1px solid #f0f1f1;
    margin-bottom: 5px;
}
#profile  a{
  text-decoration: none;
  color: #6c757d;
  position: relative;
  top: 0px;
  display: block;
}
#profile ul li a span{
  position: relative;
  top: -5px;
}
#profile ul li a i{
 color: #f3be89;
}

#profile .dropdown-menu{
  /* top: 20px!important; */
  left: -14px!important;
}
#profile ul{
  list-style: none;

}
#profile ul li{
  margin-left: -40px;
  cursor: pointer;
}
#photo-matrix{
  list-style: none;
  margin-left: 0px;
}

.span_font_kh{
    font-size: 14px!important;
    font-weight: bold!important;
}
#photo-matrix li{
    width: 25%;
    position: relative;
    float: left;
    border: 18px solid #eceff1;
    text-align: center;
    height: 168px;
    cursor: pointer;
}
#photo-matrix li i{
  padding-top: 50px;
  color: #f3be89;
  font-size: 30px;
}
.table-sm td, .table-sm th{
  vertical-align: middle;
}

footer div.row ul{
    list-style: none;
    text-align: left;
    margin-left: -40px;
    margin-top: 10px;
}
footer div.row ul li a, footer div.row strong{
    font-size: 12px;
}

.image_items{
    height: 500px;
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
}
.scroll{
  scrollbar-color: #666 #ddd;
  scrollbar-width: thin;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}
 
.scroll::-webkit-scrollbar-track {
  background: #ddd;
}
 
.scroll::-webkit-scrollbar-thumb {
  background: #666; 
}

.khr_riel{
    position: relative;
    left: 248px;
    top: -31px;
}

.image_remove{
    position: absolute;
    color: #101010;
    font-size: 33px;
    background-color: white;
    left: 50px;
    top: 12px;
    border-radius: 6%;
    cursor: pointer;
}
.image_edit{
  position: absolute;
  color: #f3be89;
  left: 75px;
}

.no_image_add{
  text-align: center;
  border: 1px dashed #ccc;
}

.item-active{
  border-left: 3px solid #f3bd86;
}

.removed{
   border: 1px dashed #ccc;
}

.no_image_add i{
  color: #f3bd86;
  cursor: pointer;
  position: relative;
}

.add_new, .removed i{
  cursor: pointer;
  height: 182px;
}

.item_container {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    line-height: 180px;
    text-align: center;
    margin: 0 auto;
}
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
    border-radius: 4px;
}

.direct-chat-messages{
    overflow-y: scroll;
    height: 100%;
    padding: 20px;
}
.direct-chat-msg{
    margin-bottom: 74px;
    
}

.direct-chat{
  height: 600px;
}

.direct-chat-name{
  font-weight: bold;
  width: 50%;
  text-align: right;
}
.direct-chat-name-left{
  font-weight: bold;
  width: 50%;
  text-align: left;
}

.direct-chat-timestamp{
    font-size: .875rem;
    color: #697582;
    width: 50%;
    text-align: left;
}


.direct-chat-timestamp-left{
    font-size: .875rem;
    color: #697582;
    width: 50%;
    text-align: right;
}

.direct-chat-text-left{
  background-color: #d2d6de!important;
  color: #444!important;
}

.direct-chat-text{
  top: 5px;
  position: relative;
  background-color: #f3bd86;
  padding: 10px;
  color: #000;
  border-radius: .3rem;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: 60%;
}

.chat-message{
  font-size: 12px;
  padding-left: 10px;
}
.chat-message span{
  color: #5f6368;
  font-size: .75rem;
}

.chat_control:focus{
    outline: none!important;
    border: none;
    box-shadow: 0 0 0 0.2rem transparent!important;
    border: 1px solid #ced4da;
}

table.table-sm tr:hover{
  background-color: #e9ecef;
}

.price-font{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
}

.notification{
  background-color: #fa3e3e;
  border-radius: 2px;
  color: #fff!important;;
  padding: 1px 3px;
  position: absolute;
  left: 50px;
  font-size: 12px;
  z-index: 100;
}

.notification-1{
  background-color: #fa3e3e;
  border-radius: 2px;
  color: #fff!important;
  padding: 1px 3px;
  font-size: 12px;
  z-index: 100;
}

.read-more-link{
  font-weight: bold;
  color: #f3bd86!important;
}

.kh_riel-small{
  padding-top: 5px;
}

.emojionearea.emojionearea-inline {
    height: 37px!important;
}

.btn-like-listing{
  cursor: pointer;
}



.photos_item_container .rotation-90{
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
}

.box-sadow h3{
      padding-top: 10px;
}

@media only screen and (max-width: 576px) {
  .emoji-span-profile {
      float: left!important;
      width: 93%!important;
      margin-left: 7px!important;
      padding: 1%!important;
  }

  .profile {
      position: relative;
      top: -32px;
  }

  .reporting_single {
    left: 0!important;
  }

  .float-right-sm{
    float: right;
  }
  
  .thumbnail-domrey {
    /* width:  145px!important;
    height: 145px!important;
    left: 0px; */
    /* margin: 0 auto; */
  }

  .thumbnail-domrey-detail {
    /* height: 355px!important;; */
    cursor: pointer;
  }

  .select-photos {
    padding: 5px!important;
    margin-bottom: 3px;
  }

  .domrey-seller-page{
      top: -30px;
  }

  .mfp-userAvatarUrl{
    width: 100%!important;
  }

}


.reporting_single{
    left: 47px;
    top: 5px;
    cursor: pointer;
}
.report-listing-single{
  left: -140px!important;
  
}

table tr.disabled_row{
    opacity: 30%;
}

.emoji-span {
    float: left;
    width: 48%;
    padding: 1%;
}

.white-popup {
    position: relative;
    padding: 20px;
    width: auto;
    text-align: center;
    margin: 0 auto;
}

.white-popup .mfp-close{
  color: #f9f7f7!important;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">"!important;

}
#link-shared{
  cursor: pointer;
}
.shared-social img{
  width: 36px;
  height: 36px;
}
.shared-social span{
  top: 2px;
  position: relative;
}
.icon-label{
  padding-left: 10px;
  top: 2px;
  position: relative;
}

.thumbnail-domrey-70 {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
}
/* .thumbnail-domrey-70 a img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);


}
.thumbnail-domrey-70 a img.portrait {
  width: 100%;
  height: auto;
  cursor: pointer;
} */


.thumbnail-domrey {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  /* margin: 0 auto; */
}
.thumbnail-domrey a img {
  /* position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%); */


}
.thumbnail-domrey a img.portrait {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.thumbnail-domrey-detail {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}
.thumbnail-domrey-detail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);


}
.thumbnail-domrey-detail img.portrait {
  width: 100%;
  height: auto;
  cursor: pointer;

}
.report-listing-single button i,
.report-listing-single a i,
.report-listing button i,
.report-listing  a i{
    position: relative;
    top: 5px;
    color: #f3bd86;
}

.domrey-link{
  color: #f3bd86!important;  
}
.domrey-link:hover, .domrey-link-1:hover{
  text-decoration: underline!important;
}
.grid_balckground_img_500 {
     width: 100%;
     height: 100%;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
}

.grid_balckground_img {
     width: 100%;
     height: 100%;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
}

.grid_balckground_img_70 {
     width: 70px;
     height: 70px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
}
.domrey-container{
  margin-top: 20px;
  margin-bottom: 30px;
}

.slide-icons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    opacity: 60%;
}

.item-owl-domrey{
  width: 120px;
}
.owl-seller .owl-nav{
  display: none;
}

.item-owl-domrey-category{
  width: 80px;
  margin: 3px;
}

.owl-carousel .owl-nav{
    position: relative;
    top: -188px;
    float: right;
}

.owl-seller .owl-item img {
    border: 1px solid #ccc!important;
}

