html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  color: #57585a!important;
  font-size: 14px!important;;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,hanuman!important;   
}
h1, h2, h3, h4, h5, h6{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,hanuman!important;   
}
a {
    text-decoration: none!important;
    color: #57585a!important;
}

.btn-domrey-chat {
    border: 1px solid #ccc;
    font-size: 16px!important;
    text-transform: capitalize!important;
    font-weight: 600;
}
.btn-domrey-offer {
    background-color: #ff2636!important;
    font-size: 16px!important;
    text-transform: capitalize!important;
    font-weight: 600;
}

.search-row-fix{
    position: fixed;
    background-color: white;
    z-index: 100;
    top: 0px;
    padding-top: 10px;
}

#search-row .back{
    width: 10%;
    float: left;
}

#search-row .back i{
    position: relative;
    top: 8px;
}
#search-row #custom-search-input{
    width: 65%;
    float: left;
}

.searcg_home{
    width: 75%!important;
}

#custom-search-input i.search-icon{
    position: relative;
    top: 5px;
}
#custom-search-input  .search-control-input {
    width: 80%;
    padding-left: 5px;
    font-size: 14px;
    color: #2c2c2d;
    background-color: #f0f1f1;
    border: none;
    outline: none;
    border-radius: 4px;
}
#custom-search-input{
    padding-bottom: 10px;
}
#custom-search-input  .search-control{
    background-color: #f0f1f1;
    border-radius: 4px;
    padding: 5px;
}

.icon-bar-img{
    position: relative;
    width: 24px;
    top: 8px;
}
.filter-control{
    margin-top: -10px;
}

#demo a.carousel-control-prev i, a.carousel-control-next i{
    background-color: white;
    border-radius: 50%;
    color: black;
    font-size: 35px;

}

#demo .carousel-indicators{
    bottom: -12px!important;
}

#demo .carousel-indicators li{
    width: 12px!important;
    height: 12px!important;
    border-radius: 50%!important;
}

.item-owl-domrey{
  width: 120px;
}

.item-owl-domrey-category{
  width: 50px;
  margin: 3px;
}

.owl-carousel .owl-nav{
    position: relative;
    top: -185px;
    float: right;
    display: none;
}

.item-owl-domrey-category .text-category{
    padding: 5px;
    font-size: 10px;
}

.item-row{
    height: 100px;
}

#container-fluid{
    padding-bottom: 20%;
    
}

#container-fluid .item{
    padding-top: 10px;
}

.product-item{
    padding: 10px;
    border: 1px solid #f0f1f1;
}

.product-item:hover{
    box-shadow: 0 4px 12px 0 rgba(44,44,45,.07), 0 0 20px 0 rgba(44,44,45,.07);
    cursor: pointer;
}

.avatar {
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

.price-font {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
}

.title i{
    font-size: 20px;
    position: relative;
    top: 4px;
    /* font-weight: bold; */
}
.description p{
    padding-left: 25px;
    top: -26px;
    position: relative;
    white-space: pre-wrap;
    text-align: left;
    line-height: 30px;

}
.user-joined{
    font-size: 12px;
}

.text-desc .contition{
    font-size: 12px;
}

.text-desc .price {
    color: #cc1e2b;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
}

.text-desc .like{
    position: absolute;
    bottom: 2px;
    width: 90%;
}

.text-desc .like img {
    width: 20px;
}

.thumbnail-domrey {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.grid_balckground_img {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.thumbnail-domrey-detail {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  /* border-radius: 4px; */
  cursor: pointer;
}

.grid_balckground_img_500 {
     width: 100%;
     height: 100%;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
}

.grid_balckground_img_500 a i{
    background-color: black;
    color: white;
    opacity: 50%;
    border-radius: 50%;
    position: relative;
    padding: 5px;
    top: 5px;
    left: 10px;
}

.grid_balckground_img_500 .photos{
    position: absolute;
    bottom: 0px;
    right: 4px;
    color: white;
    font-size: 12px;
}

.grid_balckground_img_500 .photos i{
    font-size: 16px!important;
}

.grid_balckground_img_500 .photos span{
    position: relative;
    top: -3px;
}

.thumbnail-domrey-50 {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 5px;
    float: left;
}

.grid_balckground_img_50 {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-danger{
    color: white! important; 
    padding: 6px;
}

.btn-domrey-chat{
    border: 1px solid #ccc;
    font-size: 16px !important;
    text-transform: capitalize !important;
    font-weight: 600;
    width: 100%;
}

.btn-domrey-danger{
    background-color: #ff2636 !important;
    color: white;
    font-size: 16px !important;
    text-transform: capitalize !important;
    font-weight: 600;
    width: 100%;
}
.btn-domrey-danger:hover{
    color: white!important;
}

.btn-like-listing span{
    /* position: relative;
    top: 3px; */
}

.btn-listing-single{
    position: absolute;
    top: 30%;
}

.btn-listing-single span{
    vertical-align: middle;
}

.item-photos .item-image img{
    width: 100%;
    height: auto;
}

.item-photos  a i {
    background-color: black;
    color: white;
    opacity: 50%;
    border-radius: 50%;
    position: absolute;
    padding: 5px;
    top: 5px;
    left: 10px;
}

.item-photos .neet-more-image{
    text-align: center;
    padding: 30px;
    color: whitesmoke;
}

.footer-fix {
    width:100%;
    height: 65px;
    position:fixed;
    bottom: 0px;
    background-color:white;
    border-top: 1px solid #f0f1f1;
    font-size: 17px;
    z-index: 100;
}

.footer-fix .item{
  padding: 5px;
}

.footer-fix .active i, .footer-fix .active span{
    font-weight: bold;
}

.domrey-link{
  color: #f3bd86!important;  
}

.domrey-link:hover{
  text-decoration: underline!important;
}

.btn-domrey {
    background-color: #f3bd86;
    color: black!important;
    font-weight: 600;
}
.avatar {
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

.user-avatar {
    font-size: 12px;
}

.domrey-circle {
    width: 32px;
    border:1px solid #e6c6a4;
    border-radius: 50%;
}

.thumbnail-domrey-70 {
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #e6c6a4;
    color: black;
    /* padding: 5px; */
}

.thumbnail-domrey-70 span{
    position: fixed;
    bottom: 0px;
    padding-bottom: 2px;
    font-size: 10px;
}
.grid_balckground_img_70 {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.seller-background{
  height: 120px;
  background-color: #f3bd86;
  /* background-image: url('/images/web_cover.png');
  opacity: 60%; */
}

.row-shadow{
    background: #fff;
    box-shadow: 0 4px 10px -6px rgba(44,44,45,.27);
    margin-bottom: 10px;
}

.settings{
    position: absolute;
    right: 20px;
    top: 10px;
    color: black;
}

.settings i{
    color: black;
    font-size: 32px;
}
.profile-image{
    position: absolute;
    top: 70%;
    left: 4%;
}
.profile-image img{
    width: 80px;
}

.search-row-setting{
    text-align: center;
    width: 80%!important;
}
.search-row-setting h5{
    position: relative;
    top: 8px;
}
.setting-items{
    font-weight: 500;
}
.btn-edit-lising i{
    font-size: 12px;
}

.contition .btn-group a span{
    font-weight: 600;
    float: right;
}

.contition .btn-group a span.active{
    color: green;
}

.contition .btn-group a span.disabled{
    color: red;
}

.btn-publish i{
    position: relative;
    top: 6px;
}

/* .direct-chat {
    height: 390px;
} */

.direct-chat-messages {
    overflow-y: scroll;
    height: 100%;
    /* padding: 20px; */
}

.chat-message{
    font-size: 11px;
    padding-left: 1px;
    width: 114px;
}

.direct-chat-text-left {
    background-color: #d2d6de !important;
    color: #444 !important;
}

.direct-chat-text {
    top: 5px;
    position: relative;
    background-color: #f3bd86;
    padding: 10px;
    color: #000;
    border-radius: .3rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    width: 70%;
}
.chat_control:focus{
    outline: none!important;
    border: none;
    box-shadow: 0 0 0 0.2rem transparent!important;
    border: 1px solid #ced4da;
}

.notification {
    color: red;
}