.select-photos {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 0px;
}

.select-photos .data-select{
    font-size: 13px;
}

._3uIwePhaxz {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 32px;
    background: #f7f2ed;
    border: 1px dashed #000000;
    border-radius: 4px;
}

._3nH6adLACP._14ECgRVNZW .P2llUzsDMi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ztxVml-Wqh {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.text-control{
    padding: 0.7rem .50rem;
    height: calc(1.5em + 1.40rem + 2px);
}
.dropdonw-item{
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 5px;
    position: absolute;
    width: 95%;
    height: 500px;
    border-radius: .25rem;
    text-align: left;
    z-index: 100;
    overflow-x: auto;
}

@media (max-width: 575.98px) {
    .dropdonw-item{
        width: 89%;
        top: 50px;
    }
}
.list-item{
    padding: 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.sub-item {
     padding-left: 30px!important;
}

.list-item:hover{
    background-color: #f0f1f1;
}

.list-item-selected{
    background-color: #f7e9db;
}

.list-item span.arrow, .text-control span.arrow{
    float: right;
}

.d-none{
    display: none;
}
.d-block{
    display: block;
}
.photos-items{
    padding: 16px;
    margin-top: 20px;
}
.photos-image-items {
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
    border-radius: 4px;
}

.photos_item_container {
    width: 100%;
    height: 114px;
    border-radius: 4px;
    line-height: 115px;
    text-align: center;
}

.photos_item_container .rotation-90{
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
}

.delete-icon_v2{
    position: absolute;
    right: 24px;
    top: 36px;
    background-color: #101010;
    border-radius: 50%;
    color: #f5f2ef;
    opacity: 61%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.class-cover {
  background-color: #e0b890;
  border-radius: 4px;
}

.emojionearea.emojionearea-inline {
    padding: 0.7rem .50rem!important;
    height: calc(1.5em + 1.5rem + 2px)!important;
}

.emojionearea.emojionearea-inline>.emojionearea-editor {
    height: 40px!important;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 12px;
    right: 24px;
    padding: 0.9rem .50rem!important;
}
.emojionearea, .emojionearea.form-control {
        font-size: 1rem!important;
}
::placeholder {
    color: #c1bbc1!important;
}
.placeholder_control{
    color: #c1bbc1!important;
}
.is-invalid{
    border: 1px solid #cc4343!important;;
}