

.hero {
  color: #fff;
  background-image: url(//placeimg.com/1500/600/any);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#megamenu-background{
    max-width: 1262px;
    margin: 0px auto;
}
.hero .container {
  position: relative;
  z-index: 2;
}

.megamenu {
  z-index: 15;
  height: 60px;
}
.megamenu .megamenu-nav {
  padding: 0;
  margin: 0;
}
.megamenu .megamenu-nav .nav-item {
  display: block;
}
.megamenu .megamenu-nav .nav-item.is-open > .megamenu-content {
  visibility: visible;
  opacity: 1;
}
.megamenu .megamenu-nav .nav-item.is-open > .nav-link {
  background: #fff;
  color: #333;
}
.megamenu .megamenu-nav .nav-link {
  color: #fff;
  padding-right: 35px;
  padding-top: 15px;
}
.megamenu .megamenu-nav .nav-link:hover {
  background: #fff;
  color: #333;
}
.megamenu .megamenu-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 129px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 14;
  transition: all .3s ease-in-out;
}

.horisontal-scroll{
    display: flex;
    height: 85px;
    width: 100%;
    margin-top: 111px;
    justify-content: center;
    flex-direction: row-reverse!important; 

}
.horisontal-scroll li{
  padding-right: 4px;
}
.megamenu .megamenu-content .container {
  padding: 15px 15px;
  background-color: white;
}
.megamenu .megamenu-content .subnav {
  margin: 0;
  padding: 0;
}
.megamenu .megamenu-content .subnav-item {
  display: block;
}
.megamenu .megamenu-content .subnav-item .subnav-link {
  padding: 5px 0;
  display: block;
}

.megamenu-background {
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  transition: all .3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  z-index: 13;
}

.megamenu-dim {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 54px;
  visibility: hidden;
  opacity: 0;
  z-index: -12;
  transition: all .3s ease-in-out;
}



#modules {
    height: 120px; /* 40px - more place for scrollbar, is hidden under parent box */
    padding:5px;
    white-space:nowrap;
    overflow: hidden;
	 -webkit-overflow-scrolling:touch;
}
.module {
    display:inline-block;
    width:90px;
    height:90px;
    line-height:90px;
    text-align:center;
}
.module + .module {
    margin-left:5px
}


.btn-facebook {
    padding: 8px 20px 8px 55px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #4e69a2;
    border-color: #435a8b #3c5488 #334c83;
    color: #fff!important;
    position: relative;
    font-weight: 600;
}


